*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeecec;
}

.container{
    display: flex;
}

/* NAVIGATION MENUS */
header{
    display: block;
    width: 15%;
    height: 100vh;
    background-color: rgb(26, 52, 79);
    color: #eeecec;
}

header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6em;
    background-color: rgba(38, 85, 136, 0.733);
    padding: 30px 0px;
}

header nav{
    width: 100%;
    margin-top: 10px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    margin: 20px 10px;
    padding: 10px;
    border-bottom: 2px solid rgba(38, 85, 136, 0.733);
    transition: all 1s ease;
}

header li a{
    text-decoration: none;
    color: #eeecec;
    font-size: 1.3em;
    padding: 0px 15%;
}

header li:hover{
    background-color: rgba(38, 85, 136, 0.733);
}

/* SECTION */
section{
    background-color: rgba(227, 226, 226, 0.791);
    position: relative;
    width: 85%;
}
section .text{
    position: absolute;
    top: 50%;
    left: 40%;
}
section h1{
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(38, 85, 136, 0.733);
    text-align: center;
    margin-bottom: 10px;
}
section h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* RESPONSIVE */

/* LITTLE SCREENS */
@media (min-width: 300px) and (max-width: 760px){
    .container{
        position: relative;
        display: block;
    }
    header{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50%;
        z-index: 20;
    }
    header ul li{
        margin-left: 20px;
    }
    header li a{
        padding-left: 10px;
    }
    section{
        width: auto;
        height: 100vh;
    }
    section .text{
        top: 30%;
        left: 5%;
    }
}

/* WIDE SCREENS */
@media (min-width: 760px) and (max-width: 1080px){
    header{
        width: 30%;
    }
    section{
        width: 70%;
    }
    section .text{
        top: 30%;
        left: 20%;
    }
}